rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // No se habilita Storage en esta version de produccion.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
